*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.board{
    height: 1050px;
    width: 1050px;
    background-color: blue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 10px solid black;
    margin: 5em;
    cursor: pointer;
}

.board > div{
    height: 3.45em;
    width: 3.45em;
    background-color: yellow;
    color: black;
    font-size: 100px; 
    text-align: center;
    border: 10px solid black;
    padding-top: 0.7em;
    font-family: "permanent mark", cursive;
}

#statusText{
    margin-left: 4.6em;
    font-size: 100px;
    
}
#restartBtn{
    font-size: 100px;
    margin-left: 4.5em;
    border-radius: 10px;
    background-color: palegoldenrod;
    color: black;
    padding: .1em;
    cursor: pointer;
}